:root {
    --accent-color: #111923;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    --font: "Poppins", "sans-serif";

    --text-color: white;
    --fondo: rgba(6, 6, 19, 0.877);
    --rosa: rgb(255, 0, 157);
    --widgets: rgb(55, 56, 69);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 5px;
    background-color: none;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--rosa);
    border-radius: 4px;
    border: 3px solid rgb(23, 23, 23);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select,
input {
    width: 90%;
    padding: 5px;
    background-color: var(--widgets);
    color: var(--text-color);
    font-weight: bold;
    font-family: var(--font);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

select:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

input:focus {
    outline: none;
}

.banking-container {
    display: flex;
    height: 940px;
    width: 1700px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--fondo);
}

.sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--fondo);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid var(--accent-color);
}

.sidebar-header {
    background-color: var(--accent-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    box-shadow: var(--box-shadow);
}

.sidebar-accounts {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar-accounts li {
    background-color: var(--accent-color);
    width: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-selected {
    border-right: 25px solid rgb(172, 174, 175);
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-bar {
    min-height: 7%;
    max-height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(172, 174, 175);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid var(--accent-color);
}

.nav-options {
    display: flex;
    align-items: center;
}

.nav-option {
    display: flex;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-self: center;
    background-color: rgb(41, 41, 41);
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
    align-items: center;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.nav-option:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    align-self: center;
    align-items: center;
}

.money {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.manage-money {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
}

.money-title {
    font-size: 2vh;
}

.transfer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 30px;
}

.transfer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.transfer-options {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.account-options {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.debit-card, .create-account, .edit-account, .manage-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 21.5vh;
    width: 19.8vw;
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
    margin: 1px;
    padding: 20px;
    box-sizing: border-box;
}

.options-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.options-inputs {
    width: 100%;
    max-height: 3.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#createAccountName,
#editAccount,
#manageAccountName {
    margin-right: 25px;
}

#manageUserName {
    width: 95%;
}

.combo-input {
    display: flex;
    flex-direction: column;
}

.dropdown-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.list-container {
    width: fit-content;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.list-container ul {
    margin-left: 10px;
    margin-right: 10px;
}

.action-button {
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-self: center;
    background-color: rgb(41, 41, 41);
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
    align-items: center;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.action-button:hover {
    text-decoration: underline;
}

.action-button svg {
    display: inline-block;
    vertical-align: middle;
}

.positive-balance {
    color: #28a745;
}

.negative-balance {
    color: #dc3545;
}

.pin-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    width: 15vw;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: var(--fondo);
}

.pin-input {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.number-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.number-pad button {
    width: 25%;
    height: 20%;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

.notification-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
}

.notification.success {
    background-color: #28a745;
    /* Green for success */
}

.notification.error {
    background-color: #dc3545;
    /* Red for error */
}






















.efectivo1 {
    background-color: var(--accent-color);
    width: 30%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcionesrapidas1 {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcionesrapidas2 {
    background-color: var(--accent-color);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 0px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
}

.botones {
    width: 250px;
    height: 33px;
    margin: 5px 10px;
    color: white;
    background: rgba(160, 160, 160, 0.178);
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font);
    font-weight: bold;
    transition: .3s;
}

.botones:hover {
    scale: 110%;
    transition: .5s;
}

.historial1 {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historial2 {
    background-color: var(--accent-color);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 0px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
}

.listado {
    display: flex;
    max-height: 300px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid black;
}

.listado li {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    border-radius: 5px;
    border: 2px solid black;
}

.infocuenta1 {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infocuenta2 {
    background-color: var(--accent-color);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 0px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
}

.nombre-jugador {
    text-align: center;
    display: flex;
    justify-content: center;
}










.cuadro1 {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro2 {
    background-color: var(--accent-color);
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px 0px;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
}

.botones2 {
    width: 250px;
    height: 50px;
    margin: 25px 280px;
    color: white;
    background: rgba(160, 160, 160, 0.178);
    border: 2px solid rgb(65, 65, 65);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font);
    font-weight: bold;
    transition: .3s;
}

.botones2:hover {
    scale: 150%;
    transition: .5s;
}